<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Portal</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#Dashboard">Dashboard</a></li>
				<li><a href="#Settings">Settings</a></li>
				<li><a href="#Profile">Profile</a></li>
				<li><a href="#Help">Help</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input class="form-control" type="text" name="search" placeholder="Search for order..." />
			</form>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="#Order">Place Order</a></li>
				<li><a href="#Status">View Orders</a></li>
				<li><a href="#Results">View Results</a></li>
				<li><a href="#Manage Users">Manage Users</a></li>
				<li><a href="#Updates">Updates</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Dashboard</h1>

			<div class="row placeholders">
				You can put stuff here
			</div>
			<h2 class="sub-header">Section Title</h2>
			<div>You can put content here</div>
		</div>
	</div>
</div>